.container {
  max-width: 144rem;
  min-height: 100vh;
  margin: 0 auto;
  grid-template-columns: 1fr;
  overflow: hidden;
}

.content {
  background-color: $light-gray-background;
  padding-bottom: 6rem;
}
.countries {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  // gap: 7.2rem;
  justify-items: center;
  gap: 6rem;
  padding-bottom: 8rem;
  border-bottom: 1px solid $color-grey-1;
}
