*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
  line-height: 0;
  font-weight: 300;
  color: hsl(200deg, 15%, 8%);
  line-height: 1.6;
  font-size: 1.4rem;
}

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #e5e7eb;
  padding: 1.8rem 3.2rem;
}
.header__dark-mode {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header__dark-text {
  font-weight: 800;
}

.search {
  display: flex;
  justify-content: space-between;
  padding: 4.8rem 3.2rem;
}
.search__country {
  display: flex;
  align-items: center;
  background-color: #fff;
  -webkit-box-shadow: 4px 1px 24px -10px rgba(0, 0, 0, 0.2);
  box-shadow: 4px 1px 24px -10px rgba(0, 0, 0, 0.2);
}
.search__icon {
  padding: 0 1.8rem;
  color: #e5e7eb;
}
.search__input {
  width: 40rem;
  padding: 1.3rem 5.2rem 1.3rem 1.8rem;
  border: none;
  font-size: 1.5rem;
}
.search__input:focus {
  outline: none;
}
.filter {
  padding: 1.3rem 5.2rem 1.3rem 1.8rem;
  border: none;
  font-size: 1.5rem;
  -webkit-box-shadow: 4px 1px 24px -10px rgba(0, 0, 0, 0.2);
  box-shadow: 4px 1px 24px -10px rgba(0, 0, 0, 0.2);
}
.filter:focus {
  border: none;
  outline: none;
}
.filter__options {
  padding: 1rem;
  margin-bottom: 1.8rem;
}

.results {
  color: hsl(0deg, 0%, 52%);
  padding: 0 0 3.2rem 3.2rem;
}
.country {
  background-color: #fff;
  -webkit-box-shadow: -1px 7px 17px -5px rgba(0, 0, 0, 0.3);
  box-shadow: -1px 7px 17px -5px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
}
.country__container {
  height: 100%;
}
.country__img {
  display: block;
  height: 22rem;
  width: 31.4rem;
}
.country__content {
  padding: 2.4rem 1.8rem;
}
.country__name {
  margin-bottom: 1.8rem;
}
.country__title {
  font-weight: 600;
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 6.4rem 1.8rem;
}
.pagination__container {
  display: flex;
  gap: 7px;
  padding: 1rem 3.2rem;
  border-radius: 7px;
}
.pagination__button {
  background-color: #e5e7eb;
  border: none;
  padding: 1rem 1rem;
  cursor: pointer;
  border-radius: 100px;
  transition: all 0.2s;
  width: 4rem;
  height: 4rem;
}
.pagination__button:hover {
  background-color: hsl(200deg, 15%, 8%);
}
.pagination__button:hover .pagination__text {
  color: #fff;
}
.pagination__arrow--right:hover svg, .pagination__arrow--left:hover svg {
  color: #fff;
}
.pagination__button--active {
  background-color: hsl(200deg, 15%, 8%);
}
.pagination__button--active-txt {
  color: #fff;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
}
.pagination__text {
  color: hsl(200deg, 15%, 8%);
  font-size: 1.6rem;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
}
.pagination__arrow--right {
  margin-left: 1rem;
  border-radius: 300px;
  transition: all 0.2s;
}
.pagination__arrow--left {
  margin-right: 1rem;
  border-radius: 300px;
  transition: all 0.2s;
}

.container {
  max-width: 144rem;
  min-height: 100vh;
  margin: 0 auto;
  grid-template-columns: 1fr;
  overflow: hidden;
}

.content {
  background-color: hsl(0deg, 0%, 98%);
  padding-bottom: 6rem;
}

.countries {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  gap: 6rem;
  padding-bottom: 8rem;
  border-bottom: 2px solid #e5e7eb;
}

/*# sourceMappingURL=style.css.map */
